.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  // text-align: center;
  height: 100%;
  padding: 0;
  // background-color: #282c34;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.header {
  background-color: #003e73;
  &__title {
    margin: 0 1rem;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 2rem;
    color: #ffffff;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
