.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30%;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  width: 500px;
  height: 601px;
  max-width: 600px;
  max-height: 900px;
  min-width: 500px;
  min-height: 601px;
  box-sizing: border-box;
  border: outset;
}

/* write css for a header div with blue background and white text color */
.modal-header {
  /* stick to the top of parent div */
  position: sticky;
  top: 0;
  background-color: #b85c91;
  display: flex;
  color: white;
  padding: 2px 16px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  /* fill the rest of space in parent div */
  position: relative;
  padding: 20px;
  /* flex: 1 1 auto;
 
  padding: 20px;
  border: 1px solid #888;

  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 16px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.lefeKT {
  padding: 20px;
  background-color: #ffffff;
}

.gbxfwG {
  margin-top: 0px;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  column-gap: 2px;
  border-radius: 4px;
  padding: 2px;
  background: rgb(235, 240, 242);
}

.jdmMww {
  border-radius: 4px;
  font-size: 12px;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  color: rgb(255, 255, 255);
  background: rgb(133, 0, 173);
}

.bvLLT {
  border-radius: 4px;
  font-size: 12px;
  color: rgb(52, 58, 64);
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}

.kizSZB {
  padding: 12px 20px;
  background-color: white;
}

.gpuHtG {
  min-height: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  margin-bottom: 4px;
}

.hUvleg {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.jXiauJ {
  text-align: right;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  column-gap: 4px;
}

.dxYcNX {
  overflow-y: auto;
  flex: 1 1 0%;
  border-top: 1px solid rgb(235, 240, 242);
  border-bottom: 1px solid rgb(235, 240, 242);
}

.lhfZno {
  position: relative;
  padding: 20px;
  background-color: white;
}

.gnaRJt {
  margin-top: 0px;
}
.fwfACD {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  color: rgb(52, 58, 64);
  margin-top: 24px;
  margin-bottom: 8px;
}

.hgakEt {
  position: relative;
  display: flex;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  transition: border-color 0.2s ease 0s;
  width: 100%;
}

.fyevUS {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(146, 146, 146);
  font-size: 13px;
  overflow: hidden;
  flex-shrink: 0;
  padding-left: 8px;
}

.hgakEt input {
  font-size: 12px;
  box-sizing: border-box;
  height: 24px;
  padding: 0px 8px;
  background: rgb(255, 255, 255);
  display: block;
  width: 100%;
  border: none;
}

.excrlk {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.gIWanR {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(146, 146, 146);
  font-size: 13px;
  overflow: hidden;
  flex-shrink: 0;
  padding-right: 8px;
}

.jgsrbF {
  position: relative;
  display: flex;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  transition: border-color 0.2s ease 0s;
  overflow: hidden;
  width: 100%;
}
.jFqjdG {
  font-size: 12px;
  box-sizing: border-box;
  height: 24px;
  padding: 0px 4px;
  background: rgb(255, 255, 255);
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  text-overflow: ellipsis;
}
.iA-DQuv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.jIfStg {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0px;
}

.ivkkEA {
  transition: all 0.2s ease 0s;
  opacity: 1;
  display: flex;
}

.doWCWF {
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  direction: ltr;
}

.oeMFGH {
  position: relative;
  user-select: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  overflow: hidden;
  transform: translate(214px, 110px);
  width: 1300px;
  height: 780px;
  max-width: 100%;
  max-height: 100%;
  min-width: 1300px;
  min-height: 780px;
  box-sizing: border-box;
}

.bAWFlm {
  display: flex;
  cursor: move;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
  background-color: #b85c91;
  flex: 0 0 auto;
  color: white;
  opacity: 1 !important;
}

.jbqSrN {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0s;
}

.kKjocj {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Nunito Sans', '--apple-system', BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 540px;
  height: 100%;
}
.gFZMBC {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hlIGvb {
  transition: height 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.5rem;
  padding: 0px 16px;
}

.cTeFoo {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.dfAZhR {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 16px 0px 16px;
  padding: 0px;
  text-transform: none;
  font-size: 20px;
  line-height: 32px;
  color: rgb(19, 25, 31);
  font-weight: 700;
}

.dLsaGN {
  width: 100%;
  border-bottom: 1px solid rgb(217, 224, 232);
  display: flex;
  flex-direction: row;
}
.didbWK {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.gQzYPz {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  padding-top: 16px;
}

.jvntzP {
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
}

.kbbAZG {
  max-width: 85%;
}

.hodNct {
  display: inline-flex;
  align-items: flex-start;
  min-width: 0px;
}

.dMQqCV {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-width: 0px;
}

.dydjeI {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(19, 25, 31);
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.liSWKK .A {
  opacity: 1;
}
.cRbJA {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(10, 111, 232);
  bottom: -2px;
  left: 0px;
}

.dLsaGN {
  width: 100%;
  border-bottom: 1px solid rgb(217, 224, 232);
  display: flex;
  flex-direction: row;
}
.didbWK {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.didbWK > :not(:last-child) {
  margin-right: 32px;
}

.liSWKK {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px 0px 12px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  transition: border-color 0.2s ease 0s, color 0.2s ease-in-out 0s;
  color: rgb(43, 57, 72);
  outline: none;
  user-select: none;
  cursor: pointer;
}

.liSWKK .gsckYT {
  color: rgb(10, 111, 232);
  font-weight: 600;
}

.hiLyrj {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px 0px 12px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  transition: border-color 0.2s ease 0s, color 0.2s ease-in-out 0s;
  color: rgb(43, 57, 72);
  outline: none;
  user-select: none;
  cursor: pointer;
}

.kiqpP {
  margin: 16px 0px;
  width: 100%;
  display: flex;
  gap: 8px;
}

.bSssay {
  width: 300px;
}

.ktAmda {
  width: 100%;
}
*, ::before, ::after {
  box-sizing: border-box;
}

.bpAFPj {
  position: relative;
  flex: 1 1 0%;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}
.eTjXPv .sc-jXktde {
  padding: 0px 8px;
  caret-color: transparent;
  cursor: default;
}

.bpAFPj .sc-XhUvE {
  min-height: 30px;
  padding: 0px 8px;
}
.gtgZQm input, .gtgZQm select, .gtgZQm textarea {
  color: rgb(43, 57, 72);
}
.fXWfqw *, .fXWfqw ::before, .fXWfqw ::after {
  box-sizing: border-box;
}

.kkDNaA {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  display: block;
  appearance: none;
  padding: 0px;
  outline: none;
  font: inherit;
  min-width: 2px;
  color: currentcolor;
  caret-color: currentcolor;
}

.gtgZQm *, .gtgZQm ::before, .gtgZQm ::after {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: border-box;
}

/* Overview */
.gnaJEW {
  display: flex;
  flex: 1 1 0%;
  padding: 0px 24px 0px 32px;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.gxxFEr {
  display: flex;
  padding-bottom: 16px;
}

.jBOLsP {
  display: flex;
  flex-direction: column;
  max-width: 445px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.hhdZCl {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
}

.jWPjfx {
  position: relative;
  border-right: 1px solid rgb(217, 224, 232);
  border-bottom: 1px solid rgb(217, 224, 232);
  border-left: 1px solid rgb(217, 224, 232);
  border-image: initial;
  border-top: none;
  border-radius: 6px;
  min-height: 295px;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cfrHHf {
  position: relative;
  display: flex;
  overflow: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.jJAKYt {
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 1fr 1fr 0fr;
  border-top: 1px solid rgb(217, 224, 232);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: none;
  overflow: auto;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: stretch;
  grid-auto-rows: min-content;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.fRhIzs {
  position: sticky;
  top: 0px;
  z-index: 1;
  font-weight: 700;
  color: rgb(43, 57, 72);
  user-select: none;
  height: 48px;
  min-width: 105.8px;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 245, 247);
  cursor: default !important;
}
.eUFymb {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(72, 94, 117);
  text-align: right;
}


.HHhCc {
  padding: 8px 16px;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(19, 25, 31);
  -webkit-box-pack: start;
  justify-content: flex-start;
  transition: background-color 0.2s ease-in-out 0s;
}

.bbPTwY {
  width: auto;
}

.uXEUb {
  white-space: nowrap;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(72, 94, 117);
}

.dZrlxP {
  position: sticky;
  top: 0px;
  z-index: 1;
  font-weight: 700;
  color: rgb(43, 57, 72);
  user-select: none;
  height: 48px;
  min-width: 126px;
  background-color: rgb(242, 245, 247);
  cursor: default !important;
}

.bimpkv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(72, 94, 117);
}

.GtsQR {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(10, 111, 232);
  text-align: right;
}
.epbpWv {
  height: 100%;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(217, 224, 232);
  border-radius: 6px;
  box-sizing: border-box;
}

.bgGCiT {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  text-transform: none;
  font-size: 20px;
  line-height: 26px;
  color: rgb(19, 25, 31);
  font-weight: 700;
  padding: 24px 24px 16px;
  border-bottom: 1px solid rgb(217, 224, 232);
}

.gtKjyK {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.iynKDA:not(:last-of-type) {
  border-bottom: 1px solid rgb(217, 224, 232);
}
.iynKDA {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 24px;
}

.ixxElA {
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 4px;
}

.udqtB {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease 0s;
  color: rgb(19, 25, 31) !important;
}

.fpVYlo {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 10px 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(72, 94, 117);
}
.kqSYrC {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 10px 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  color: rgb(43, 57, 72);
}

.ekqgTH {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 16px 0px 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgb(2, 83, 182);
}