.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30%;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  width: 500px;
  height: 601px;
  max-width: 600px;
  max-height: 900px;
  min-width: 500px;
  min-height: 601px;
  box-sizing: border-box;
  border: outset;
}

/* write css for a header div with blue background and white text color */
.modal-header {
  /* stick to the top of parent div */
  position: sticky;
  top: 0;
  background-color: #b85c91;
  display: flex;
  color: white;
  padding: 2px 16px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  /* fill the rest of space in parent div */
  position: relative;
  padding: 20px;
  /* flex: 1 1 auto;
 
  padding: 20px;
  border: 1px solid #888;

  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 16px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.lefeKT {
  padding: 20px;
  background-color: #ffffff;
}

.gbxfwG {
  margin-top: 0px;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  column-gap: 2px;
  border-radius: 4px;
  padding: 2px;
  background: rgb(235, 240, 242);
}

.jdmMww {
  border-radius: 4px;
  font-size: 12px;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  color: rgb(255, 255, 255);
  background: rgb(133, 0, 173);
}

.bvLLT {
  border-radius: 4px;
  font-size: 12px;
  color: rgb(52, 58, 64);
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}

.kizSZB {
  padding: 12px 20px;
  background-color: white;
}

.gpuHtG {
  min-height: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  margin-bottom: 4px;
}

.hUvleg {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.jXiauJ {
  text-align: right;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  column-gap: 4px;
}

.dxYcNX {
  overflow-y: auto;
  flex: 1 1 0%;
  border-top: 1px solid rgb(235, 240, 242);
  border-bottom: 1px solid rgb(235, 240, 242);
}

.lhfZno {
  position: relative;
  padding: 20px;
  background-color: white;
}

.gnaRJt {
  margin-top: 0px;
}
.fwfACD {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  color: rgb(52, 58, 64);
  margin-top: 24px;
  margin-bottom: 8px;
}

.hgakEt {
  position: relative;
  display: flex;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  transition: border-color 0.2s ease 0s;
  width: 100%;
}

.fyevUS {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(146, 146, 146);
  font-size: 13px;
  overflow: hidden;
  flex-shrink: 0;
  padding-left: 8px;
}

.hgakEt input {
  font-size: 12px;
  box-sizing: border-box;
  height: 24px;
  padding: 0px 8px;
  background: rgb(255, 255, 255);
  display: block;
  width: 100%;
  border: none;
}

.excrlk {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.gIWanR {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(146, 146, 146);
  font-size: 13px;
  overflow: hidden;
  flex-shrink: 0;
  padding-right: 8px;
}

.jgsrbF {
  position: relative;
  display: flex;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  transition: border-color 0.2s ease 0s;
  overflow: hidden;
  width: 100%;
}
.jFqjdG {
  font-size: 12px;
  box-sizing: border-box;
  height: 24px;
  padding: 0px 4px;
  background: rgb(255, 255, 255);
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  text-overflow: ellipsis;
}
.iA-DQuv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.jIfStg {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0px;
}

.ivkkEA {
  transition: all 0.2s ease 0s;
  opacity: 1;
  display: flex;
}

.doWCWF {
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  direction: ltr;
  justify-content: center;
}

.oeMFGH {
  position: relative;
  user-select: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  overflow: hidden;
  width: 1300px;
  height: 780px;
  max-width: 80%;
  max-height: 100%;
  min-width: 80%;
  min-height: 640px;
  box-sizing: border-box;
  margin-left: 10%;
}

.bAWFlm {
  display: flex;
  cursor: move;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
  background-color: #b85c91;
  flex: 0 0 auto;
  color: white;
  opacity: 1 !important;
}

.jbqSrN {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0s;
}

.kKjocj {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Nunito Sans', '--apple-system', BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 540px;
  height: 100%;
}
.gFZMBC {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hlIGvb {
  transition: height 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.5rem;
  padding: 0px 16px;
}

.cTeFoo {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.dfAZhR {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 16px 0px 16px;
  padding: 0px;
  text-transform: none;
  font-size: 20px;
  line-height: 32px;
  color: rgb(19, 25, 31);
  font-weight: 700;
}

.dLsaGN {
  width: 100%;
  border-bottom: 1px solid rgb(217, 224, 232);
  display: flex;
  flex-direction: row;
}
.didbWK {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.gQzYPz {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  padding-top: 16px;
}

.jvntzP {
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
}

.kbbAZG {
  max-width: 85%;
}

.hodNct {
  display: inline-flex;
  align-items: flex-start;
  min-width: 0px;
}

.dMQqCV {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-width: 0px;
}

.dydjeI {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(19, 25, 31);
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.liSWKK .A {
  opacity: 1;
}
.cRbJA {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(10, 111, 232);
  bottom: -2px;
  left: 0px;
}

.dLsaGN {
  width: 100%;
  border-bottom: 1px solid rgb(217, 224, 232);
  display: flex;
  flex-direction: row;
}
.didbWK {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.didbWK > :not(:last-child) {
  margin-right: 32px;
}

.liSWKK {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px 0px 12px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  transition: border-color 0.2s ease 0s, color 0.2s ease-in-out 0s;
  color: rgb(43, 57, 72);
  outline: none;
  user-select: none;
  cursor: pointer;
}

.liSWKK .gsckYT {
  color: rgb(10, 111, 232);
  font-weight: 600;
}

.hiLyrj {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px 0px 12px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  transition: border-color 0.2s ease 0s, color 0.2s ease-in-out 0s;
  color: rgb(43, 57, 72);
  outline: none;
  user-select: none;
  cursor: pointer;
}

.kiqpP {
  margin: 16px 0px;
  width: 100%;
  display: flex;
  gap: 8px;
}

.bSssay {
  width: 300px;
}

.ktAmda {
  width: 100%;
}
*,
::before,
::after {
  box-sizing: border-box;
}

.bpAFPj {
  position: relative;
  flex: 1 1 0%;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}
.eTjXPv .sc-jXktde {
  padding: 0px 8px;
  caret-color: transparent;
  cursor: default;
}

.bpAFPj .sc-XhUvE {
  min-height: 30px;
  padding: 0px 8px;
}
.hNeyOA input,
.hNeyOA select,
.hNeyOA textarea {
  color: rgb(68, 71, 74);
}
.fXWfqw *,
.fXWfqw ::before,
.fXWfqw ::after {
  box-sizing: border-box;
}

.kkDNaA {
  border: none;
  background: none;
  height: 32px;
  width: 300px;
  display: flex;
  align-items: center;
  appearance: none;
  padding: 0px;
  outline: none;
  font-size: 16px;
  font-style: normal;
  min-width: 2px;
  color: rgb(166, 183, 201);
  caret-color: rgb(166, 183, 201);
}

.gtgZQm *,
.gtgZQm ::before,
.gtgZQm ::after {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Overview */
.gnaJEW {
  display: flex;
  flex: 1 1 0%;
  padding: 0px 24px 0px 32px;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.gnaJEW2 {
  display: none;
  flex: 1 1 0%;
  padding: 0px 24px 0px 32px;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.gxxFEr {
  display: flex;
  padding-bottom: 16px;
}

.jBOLsP {
  display: flex;
  flex-direction: column;
  max-width: 445px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.jBOLsP2 {
  display: none;
  flex-direction: column;
  max-width: 445px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.hhdZCl {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
}

.jWPjfx {
  position: relative;
  border-right: 1px solid rgb(217, 224, 232);
  border-bottom: 1px solid rgb(217, 224, 232);
  border-left: 1px solid rgb(217, 224, 232);
  border-image: initial;
  border-top: none;
  border-radius: 6px;
  max-height: 245px;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cfrHHf {
  position: relative;
  display: flex;
  overflow: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.jJAKYt {
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 1fr 1fr 0fr;
  border-top: 1px solid rgb(217, 224, 232);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: none;
  overflow: auto;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: stretch;
  grid-auto-rows: min-content;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.fRhIzs {
  position: sticky;
  top: 0px;
  z-index: 1;
  font-weight: 700;
  color: rgb(43, 57, 72);
  user-select: none;
  height: 48px;
  min-width: 105.8px;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 245, 247);
  cursor: default !important;
}
.eUFymb {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(72, 94, 117);
  text-align: right;
}

.HHhCc {
  padding: 8px 16px;
  display: flex;
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(19, 25, 31);
  -webkit-box-pack: start;
  justify-content: flex-start;
  transition: background-color 0.2s ease-in-out 0s;
}

.bbPTwY {
  width: auto;
}

.uXEUb {
  white-space: nowrap;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(72, 94, 117);
}

.dZrlxP {
  position: sticky;
  top: 0px;
  z-index: 1;
  font-weight: 700;
  color: rgb(43, 57, 72);
  user-select: none;
  height: 48px;
  min-width: 126px;
  background-color: rgb(242, 245, 247);
  cursor: default !important;
}

.bimpkv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(72, 94, 117);
}

.GtsQR {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(10, 111, 232);
  text-align: right;
}

.test-div{
  width: 100%;
}

.epbpWv {
  margin: 0px 32px;
  height: fit-content;
  max-height: 500px;
  min-height: auto;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(217, 224, 232);
  border-radius: 6px;
  box-sizing: border-box;
}

.epbpWv2 {
  display: none;
  height: 500px;
  min-width: 650px;
  flex-direction: column;
  border: 1px solid rgb(217, 224, 232);
  border-radius: 6px;
  box-sizing: border-box;
}

.bgGCiT {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  text-transform: none;
  font-size: 20px;
  line-height: 26px;
  color: rgb(19, 25, 31);
  font-weight: 700;
  padding: 24px 24px 16px;
  border-bottom: 1px solid rgb(217, 224, 232);
}

.gtKjyK {
  flex: 1 1 0%;
  display: flex;
  overflow-y: scroll;
  max-height: 450px;
  flex-direction: column;
}

.iynKDA:not(:last-of-type) {
  border-bottom: 1px solid rgb(217, 224, 232);
}
.iynKDA {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 24px;
}

.ixxElA {
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 4px;
}

.udqtB {
  display: flex;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease 0s;
  color: #13191f !important;
  align-items: center;
}

.fpVYlo {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #485e75;
}
.kqSYrC {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 10px 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  color: rgb(43, 57, 72);
}

.ekqgTH {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 16px 0px 0px;
  padding: 0px;
  text-transform: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgb(2, 83, 182);
}

.cnikoG {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.cnikoG2 {
  display: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.oeMFGH.IGmAC {
  width: 100%;
  margin-top: 16px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.iaZWuG {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  margin: 0px 32px;
  gap: 20px;
}

.WkASV {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 8px;
}

.iaZWuG > div {
  width: 300px;
}

.lerQSN {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
}

.dsigvn[data-open='true'] {
  outline-color: rgb(10, 111, 232);
}

.dsigvn:hover {
  border-color: rgb(10, 111, 232);
}
.dsigvn:hover {
  border-color: rgb(72, 94, 117);
}
.dsigvn {
  position: relative;
  width: 100%;
  max-height: 32px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  color: rgb(43, 57, 72);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(103, 132, 162);
  outline: rgb(10, 111, 232) solid 2px;
  outline-offset: -2px;
  transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s,
    border-color 0.2s ease 0s, outline-color 0.2s ease 0s;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0px 8px;
}

.dsigvn .sc-dmaBdM {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  color: rgb(72, 94, 117);
}

.dsigvn *,
.dsigvn ::before,
.dsigvn ::after {
  box-sizing: border-box;
}

.hlNbkn {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  color: rgb(92, 96, 100);
}

.dsigvn *,
.dsigvn ::before,
.dsigvn ::after {
  box-sizing: border-box;
}
.jMlZvI {
  user-select: none;
  width: auto;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 0%;
  outline: none;
  overflow: hidden;
  position: relative;
}

.dsigvn .sc-fWSMSg {
  padding-left: 8px;
}
.dsigvn *,
.dsigvn ::before,
.dsigvn ::after {
  box-sizing: border-box;
}
.jLovdI {
  user-select: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
}

.dsigvn .sc-fWSMSg svg {
  width: 16px;
  height: 16px;
}

.jLovdI[data-open='true'] svg {
  transform: rotate(180deg);
}
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.hNeyOA:hover {
  border-color: rgb(72, 94, 117);
}

.hNeyOA {
  position: relative;
  width: 100%;
  max-height: 32px;
  min-height: 32px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  color: rgb(43, 57, 72);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(103, 132, 162);
  outline: transparent solid 2px;
  outline-offset: -2px;
  transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s,
    border-color 0.2s ease 0s, outline-color 0.2s ease 0s;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0px 8px;
}

::placeholder {
  color: rgb(63, 68, 73);
  opacity: 1;
}

.hNeyOA .sc-dmaBdM {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  color: rgb(72, 94, 117);
}
.abcdef {
  z-index: 10000000;
  width: 300px;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(30px, 235px, 0px);
}
.bdtKyo {
  box-shadow: rgba(103, 132, 162, 0.08) 0px 2px 3px,
    rgba(103, 132, 162, 0.16) 0px 1px 8px;
  width: 300px;
  min-width: 198px;
  background: #fff;
  border: 1px solid #d9e0e8;
  border-radius: 6px;
  padding: 8px 0px;
}
.gTyetu {
  max-height: 320px;
  overflow: auto;
}
.HBZlb {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  color: rgb(166, 183, 201);
  padding: 8px;
}

.elxNIY {
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  min-width: 14px;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid rgb(103, 132, 162);
  z-index: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.kkzglY {
  margin-left: 8px;
  width: 250px;
}

.dMAoiw {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 12px;
}

.tAYZw {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  color: rgb(67, 70, 74);
  padding: 8px;
  background: rgb(255, 255, 255);
}

.kJQLCS {
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  min-width: 14px;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid rgb(10, 111, 232);
  z-index: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(10, 111, 232);
}
.jSmkTg {
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  flex: 0 0 auto;
  max-width: 80px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 600;
  border-style: solid;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
  min-height: 32px;
  padding: 6px 8px;
  font-size: 14px;
  background: transparent;
  color: rgb(10, 111, 232);
  border-color: rgb(10, 111, 232);
  border-width: 1px;
  outline: none !important;
}
.NZXZk {
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  flex: 0 0 auto;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
  min-height: 32px;
  padding: 6px 8px;
  font-size: 14px;
  background: rgb(10, 111, 232);
  border-color: rgb(10, 111, 232);
  color: rgb(255, 255, 255);
  outline: none !important;
}

.fXtDbt {
  display: contents;
}

.cfrHHf .sc-kggwrJ:last-child .sc-eiBfEU {
  border-bottom: none;
}

.jJAKYt .sc-kggwrJ .sc-eiBfEU {
  height: initial;
}

.bepcCc {
  display: flex;
  flex-direction: row;
}

.kAuEFD {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.fbbPTd:not(:first-child) {
  margin-left: 1px;
}

.fbbPTd {
  color: rgb(239, 207, 26);
}
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.fbbPTd > svg {
  font-size: 16px;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.hwfhbV {
  width: auto;
  color: rgb(43, 57, 72);
}

.kscmqn {
  padding: 8px 16px;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(19, 25, 31);
  -webkit-box-pack: end;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out 0s;
}

.fgAHMr .sc-hIPkLu {
  display: none;
}

.fKFNkZ {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 3px;
  height: 100%;
  background-color: rgb(217, 224, 232);
}

.hluwYK {
  border-right-width: 0px;
  left: 0px;
}

.kHEhFe {
  display: grid;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  position: sticky;
  z-index: 10;
  min-width: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: auto;
  top: 0px;
}

.hluwYK .sc-lmyUgd {
  display: none;
}

.cPxMvK {
  position: absolute;
  top: 0px;
  right: -6px;
  bottom: 0px;
  padding: 0px 3px;
  width: 9px;
  cursor: default;
}

.dXTXNN {
  width: 3px;
  height: 100%;
  transition: background-color 0.2s ease-in-out 0s;
  background-color: rgb(217, 224, 232);
}

.fXtDbt .sc-eiBfEU {
  border-bottom: 1px solid rgb(217, 224, 232);
}

.hftDEh {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}

.fgAHMr {
  right: 0px;
}

.jJAKYt > .sc-fIUAFO {
  min-width: auto;
}

.dOCNWn {
  position: sticky;
  z-index: 11;
}

.jJAKYt > div:nth-child(6) {
  border-right: none;
}

.gLxfFe {
  position: sticky;
  z-index: 11;
}

/* listing */
.fOhaxO {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin: 2px 2px 10px 2px;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid rgb(217, 224, 232);
  background-color: #ffe7f0;
}

.dMMEUY {
  direction: ltr;
  display: flex;
  z-index: 100;
  text-align: left;
}

.gcLkhF {
  display: flex;
  flex: 1 1 0%;
  position: relative;
  margin-right: 24px;
}

.fkRnUo {
  display: flex;
  align-self: center;
  width: 20px;
  flex-shrink: 0;
  margin-right: 24px;
}

.hHaqGo {
  width: 100%;
  height: auto;
  display: block;
}

.eebzdb {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #485e75;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.green {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px 10px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 13px;
  padding: 4px 8px;
  color: #389746;
  background-color: #e5f3e6;
}

.red {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px 10px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 13px;
  padding: 4px 8px;
  color: #973838;
  background-color: #f3e5e5;
}

.yellow {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px 10px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 13px;
  padding: 4px 8px;
  color: #979138;
  background-color: #f3f2e5;
}

.jpPImZ {
  display: flex;
  align-self: center;
  -webkit-box-align: center;
  align-items: center;
}

.hZeEru:hover,
.hZeEru:focus {
  background: #ecdde5;
  border-color: #ecdde5;
}

.hZeEru {
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  flex: 0 0 auto;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
  min-height: 32px;
  padding: 6px 8px;
  font-size: 14px;
  background: #f3e5ed;
  border-color: #f3e5ed;
  color: #97386f;
  outline: none !important;
}

.hZeEru .sc-hzMMVR {
  flex-shrink: 0;
  margin-right: 8px;
  font-size: 16px;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.iTBTao {
  transform: rotateZ(180deg);
  transition: transform 0.2s ease 0s;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.listmodal {
  z-index: 9999;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  width: 400px;
  transform: translate3d(2px, 52px, 0px);
}

.dDlBoq {
  min-width: 350px;
}

.dDlBoq div {
  box-sizing: content-box;
}

.cRTcpJ {
  border-bottom: 1px solid rgb(217, 224, 232);
  margin-bottom: 16px;
  padding: 0px 16px;
}

.hYESpG {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px 0px 8px;
  padding: 0px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(19, 25, 31);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.bZwWXg:last-child {
  border-color: transparent;
}

.dDlBoq div {
  box-sizing: content-box;
}

#h10-style-container div {
  font-family: 'Nunito Sans', -apple-system, Neuton, sans-serif;
  line-height: normal;
  letter-spacing: 0px;
}

.bZwWXg {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px 0px 8px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  color: rgb(72, 94, 117);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.kuwbCK {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.fVzDaX {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  color: rgb(72, 94, 117);
  font-weight: 700;
}

.bVZnJl {
  display: flex;
  align-items: flex-start;
  color: rgb(19, 25, 31);
}

.jYRAbk {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(254, 237, 236);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.dFvqTy {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(214, 245, 235);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.wordcloudclass {
  display: none;
}

.sk-chase {
  width: 50px;
  height: 50px;
  margin: 140px auto;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #b85c91;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
