.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30%;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  width: 500px;
  height: 601px;
  max-width: 600px;
  max-height: 900px;
  min-width: 500px;
  min-height: 601px;
  box-sizing: border-box;
  border: outset;
}

/* write css for a header div with blue background and white text color */
.modal-header {
  /* stick to the top of parent div */
  position: sticky;
  top: 0;
  background-color: #b85c91;
  display: flex;
  color: white;
  padding: 2px 16px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  /* fill the rest of space in parent div */
  position: relative;
  padding: 20px;
  /* flex: 1 1 auto;
 
  padding: 20px;
  border: 1px solid #888;

  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 16px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.lefeKT {
  padding: 20px;
  background-color: #ffffff;
}

.gbxfwG {
  margin-top: 0px;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  column-gap: 2px;
  border-radius: 4px;
  padding: 2px;
  background: rgb(235, 240, 242);
}

.jdmMww {
  border-radius: 4px;
  font-size: 12px;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  color: rgb(255, 255, 255);
  background: rgb(133, 0, 173);
}

.bvLLT {
  border-radius: 4px;
  font-size: 12px;
  color: rgb(52, 58, 64);
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}

.kizSZB {
  padding: 12px 20px;
  background-color: white;
}

.gpuHtG {
  min-height: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  margin-bottom: 4px;
}

.hUvleg {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.jXiauJ {
  text-align: right;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  column-gap: 4px;
}

.dxYcNX {
  overflow-y: auto;
  flex: 1 1 0%;
  border-top: 1px solid rgb(235, 240, 242);
  border-bottom: 1px solid rgb(235, 240, 242);
}

.lhfZno {
  position: relative;
  padding: 20px;
  background-color: white;
}

.gnaRJt {
  margin-top: 0px;
}
.fwfACD {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  color: rgb(52, 58, 64);
  margin-top: 24px;
  margin-bottom: 8px;
}

.hgakEt {
  position: relative;
  display: flex;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  transition: border-color 0.2s ease 0s;
  width: 100%;
}

.fyevUS {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(146, 146, 146);
  font-size: 13px;
  overflow: hidden;
  flex-shrink: 0;
  padding-left: 8px;
}

.hgakEt input {
  font-size: 12px;
  box-sizing: border-box;
  height: 24px;
  padding: 0px 8px;
  background: rgb(255, 255, 255);
  display: block;
  width: 100%;
  border: none;
}

.excrlk {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.gIWanR {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(146, 146, 146);
  font-size: 13px;
  overflow: hidden;
  flex-shrink: 0;
  padding-right: 8px;
}

.jgsrbF {
  position: relative;
  display: flex;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  transition: border-color 0.2s ease 0s;
  overflow: hidden;
  width: 100%;
}
.jFqjdG {
  font-size: 12px;
  box-sizing: border-box;
  height: 24px;
  padding: 0px 4px;
  background: rgb(255, 255, 255);
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  text-overflow: ellipsis;
}
.iA-DQuv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.jIfStg {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0px;
}

.ivkkEA {
  transition: all 0.2s ease 0s;
  opacity: 1;
  display: flex;
}

.doWCWF {
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  direction: ltr;
}

.oeMFGH {
  position: relative;
  user-select: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  overflow: hidden;
  transform: translate(214px, 110px);
  width: 1300px;
  height: 780px;
  max-width: 100%;
  max-height: 100%;
  min-width: 1300px;
  min-height: 780px;
  box-sizing: border-box;
}

.bAWFlm {
  display: flex;
  cursor: move;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
  background-color: #b85c91;
  flex: 0 0 auto;
  color: white;
  opacity: 1 !important;
}

.jbqSrN {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0s;
}

.kKjocj {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Nunito Sans', '--apple-system', BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 540px;
  height: 100%;
}
.gFZMBC {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hlIGvb {
  transition: height 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.5rem;
  padding: 0px 16px;
}

.cTeFoo {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.dfAZhR {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 16px 0px 16px;
  padding: 0px;
  text-transform: none;
  font-size: 20px;
  line-height: 32px;
  color: rgb(19, 25, 31);
  font-weight: 700;
}

.dLsaGN {
  width: 100%;
  border-bottom: 1px solid rgb(217, 224, 232);
  display: flex;
  flex-direction: row;
}
.didbWK {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.gQzYPz {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  padding-top: 16px;
}

.jvntzP {
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
}

.kbbAZG {
  max-width: 85%;
}

.hodNct {
  display: inline-flex;
  align-items: flex-start;
  min-width: 0px;
}

.dMQqCV {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-width: 0px;
}

.dydjeI {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(19, 25, 31);
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.liSWKK .A {
  opacity: 1;
}
.cRbJA {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(10, 111, 232);
  bottom: -2px;
  left: 0px;
}

.dLsaGN {
  width: 100%;
  border-bottom: 1px solid rgb(217, 224, 232);
  display: flex;
  flex-direction: row;
}
.didbWK {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.didbWK > :not(:last-child) {
  margin-right: 32px;
}

.liSWKK {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px 0px 12px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  transition: border-color 0.2s ease 0s, color 0.2s ease-in-out 0s;
  color: rgb(43, 57, 72);
  outline: none;
  user-select: none;
  cursor: pointer;
}

.liSWKK .gsckYT {
  color: rgb(10, 111, 232);
  font-weight: 600;
}

.hiLyrj {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px 0px 12px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  transition: border-color 0.2s ease 0s, color 0.2s ease-in-out 0s;
  color: rgb(43, 57, 72);
  outline: none;
  user-select: none;
  cursor: pointer;
}
