#hyperpop {
	margin-bottom: 1rem;
	.hyperpop-filepicker {
		background-color: #e9e9e9;
		padding: 0.75rem;
		border-radius: 0.15rem;
		
		&__title {
			margin: 0;
			
		}
	}
}

/* 
#hyperpop {
	font-size: 1rem;
	background-color: #eeeeee;
	border-radius: 1em;
	padding: 0.5rem;
} */ 